* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app__main {
  height: 300vh;
  width: 100%;
  background-image: url("./Images/background.png");
  background-size: cover;
  background-position: center;
}